
03-relacionamentos-mongodb/relacionamentos/target/classes/application.yml
01-atividade-integracao-mongodb/start-example/src/main/resources/application.yml
02-integrando-projeto/user-api/src/main/resources/application.yml
03-relacionamentos-mongodb/relacionamentos/src/main/resources/application.yml
01-atividade-integracao-mongodb/start-example/src/main/resources/application.yml
02-integrando-projeto/user-api/src/main/resources/application.yml
03-relacionamentos-mongodb/relacionamentos/src/main/resources/application.yml
